header#header.header
    ._top-images
        .logo
            img(src="../img/logo.png")
        .secret
            img(src="../img/secret-stamp.png")
    ._title
        img(src="../img/title.png")