include ../../components/input/input

#about-common.about-common
    +input(name, text, 'Полное ФИО', 'Андреев Руслан Юрьевич', 'Введите Ваше полное имя')(class="name inputBlock")
    +input(birthday, text, 'Год рождения', '1980', 'Введите Ваш год рождения')(class="birthday inputBlock")
    +input(address, text, 'Место жительства', 'г. Ижевск, Россия', 'Введите адрес места жительства')(class="address inputBlock")
    +input(skype, text, 'Скайп', 'ruslanandreevpro', 'Введите Ваш логин скайп')(class="skype inputBlock")
    +input(email, email, 'Почта', 'ruslanandreevpro@gmail.com', 'Введите Ваш адрес электронной почты')(class="email inputBlock")