include ../../components/rangeslider/rangeslider

div#js-level.js-level
    ._title
        h2 Уровень владения JavaScript
    ._slider
        +rangeslider('Не владею', 'Использую готовые решения', 'Использую готовые решения\n' +
        'и умею их переделывать', 'Пишу сложный JS с нуля')