mixin rangeslider(...items)
    #slider
        #js
            #progress
            #handle
            #counter 1
            ul.labels
                each item in items
                    li._item=item