extends layouts/default
block variables
	- var title = "Test Quest for CSSSR"

block content
	.container
		include ../blocks/modules/header/header
		include ../blocks/modules/about-common/about-common
		include ../blocks/modules/about-checkbox/about-checkbox
		include ../blocks/modules/js-level/js-level
		include ../blocks/modules/about-word/about-word
		include ../blocks/modules/your-plans/your-plans
		include ../blocks/modules/footer/footer