.footer {
  padding: 80px 110px;

  .date {

    input {
      width: 200px !important;
    }
  }
}

@media screen and (max-width: 1024px) {

  .footer {
    padding: 80px 90px;
  }

}

@media screen and (max-width: 960px) {

  .footer {
    padding: 60px 50px;

    .date {

      input {
        width: 160px !important;
      }
    }
  }
}

@media screen and (max-width: 720px) {

  .footer {
    padding: 60px 30px;

    .date {

      input {
        width: 130px !important;
      }
    }
  }
}

@media screen and (max-width: 576px) {

  .footer {

    .date {

      input {
        width: 112px !important;
      }
    }
  }
}

@media screen and (max-width: 420px) {

  .footer {
    padding: 40px 15px;
  }
}